* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f7fa;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main-wrapper {
    position: relative;
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/*Aside styles*/

.my-photo {
    width: 100%;
    display: block;
}

.contacts-container {
    margin: 60px 40px 0 30px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    padding-left: 10px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.contacts-link svg {
    fill: white;
    margin-right: 10px;
}

.contact-list li a:hover,
.contact-list li a:focus {
    color: #ff6b08;
    fill: #ff6b08;
}

.contact-list li a svg:hover,
.contact-list li a svg:focus {
    fill: #ff6b08;
}

.contact-list {
    list-style-type: none;
    padding: 0 0 15px 0;
}

.skills-container {
    margin: 55px 40px 0 40px;
}

.skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.skills-list li {
    margin-left: 15px;
    color: #ff6b08;
}

.skills-list li span {
    color: #e2e4e6;
}

.about-me-container {
    padding: 110px 90px;
}

/*Main details*/

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    margin-top: 24px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.projects-link:hover, .projects-link:focus{
    color: #ff6b08;
}

.tech-name {
    color: white;
}

#project-experience ul{
    list-style: none;
    display: flex;
}

.project-example-list:nth-child(2n){
    margin-right: 0;
}

.project-name {
    color: #ff7920;
    font-weight: bold;
}

.project-example-list{
    width: calc((100% - 24px) / 2);
    margin-right: 20px;
    border: 1px solid #1e2939;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
}

.project-example-container{
    position: relative;
}

.project-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(30, 41, 57, 0.95);
}


.project-img{
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    margin: 8px 0 15px 0;
}

.profession-company {
    color: #ff7920;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

.divider {
    color: black;
}